
.app {
    width: 100vw;
    height: 100vh;
    padding: 40px;
    overflow-x: hidden;
}

.wide {
    width: 80%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    color: orangered;
}

.dark{
    background-color: black;
    color: white;
}
button{
    margin: 20px 0;
}
