
.app {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    // @include flex {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center
    // }

    // @include mobile {
    //     background-color: coral;
    // }

    ;
    /* background-color: #E1F7D2; */
}

.wide {
    width: 80%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
